
<button class="btn btn-warning"(click)="hotfixmethod(100,24)">HotFix</button>

<button class="btn btn-primary"(click)="fixbrokenemail()">BrokenEmail</button>

<div class="card">
      <div class="container">
            <p>please provide us your email!!</p>
      </div>
</div>

<ng-container *ngFor="let item of tickets ">
         <button class="btn-primary">
              {{item}}
         </button>

</ng-container>



<div class="card">
           <h1> back on Issue3 now lets continie your work</h1>
</div>
