
<ng-container *ngFor="let item of items">
      <p>moviehub works!{{item}}</p>
</ng-container>

<div class="card">
        <div class="card-body">
             <div class="container">
                  <div class="row">
                    <p> Hi this new card element get changed</p>
                  </div>
             </div>
        </div>
</div>
