
 <input (change)="searchmovies($event)"
  class="form-control"
  type="text"
  placeholder="search movie by name">

<div class="container">
   <div class="row">
     <ng-container *ngFor="let movie of movies">
              <div  class="col-4 moviedisplay">
                <div class="card">

                       <img src="{{movie.imgPath}}">

                    <div class="card-footer">
                     <div class="row">
                         <div class="col-12 moviename">
                          <p>{{movie.name}}</p>
                         </div>
                         <div class="col-12 moviename">
                          <p>Durtion:{{movie.duration}}min</p>
                         </div>
                         <div class="col-6 moviename">
                          <p>Rating:{{movie.userRating}}</p>
                         </div>
                         <div class="col-6">
                          <button class=" btn btn-primary" (click)=DetailView(movie)>ViewDetails</button>
                         </div>
                     </div>
                    </div>
                </div>
              </div>
     </ng-container>
   </div>
</div>



