
.form-control
{
  width:50%;
  margin-left:25%;
  margin-top: 3%;
}
.card
{
  cursor:pointer
}
.moviedisplay
{
  margin-top: 5%;
}
.card>img
{
  width:348px;
  height:300px;
}
.moviename>p
{
  color:gray;
  font-size: medium;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
