
<div class="container">
   <div class="row">
     <div class="col-12 detailname">

     <p>{{movie.name}}</p>
     </div>
     <div class="col-6 detailname">
      <p>(PG:{{movie.mpaaRating.type}}label:{{movie.mpaaRating.label}})</p>
     </div>
   </div>
   <hr>
   <div class="row">
      <div class="col-4">
            <div class="card detailimage">
                 <img [src]="editpath(movie.imgPath)">
            </div>
            <button [routerLink]="[ '/movies']" class="btn btn-secondary">GoBack</button>
      </div>
      <div class="col-8">
       <div class="row">
          <div class="col-12">
            <button class="btn btn-secondary">Details</button>
          </div>
          <div class="col-12">
            <button class="btn btn-secondary">Generation</button>

            <ul class="list-inline">
                <ng-container *ngFor="let gen of movie.genre">
                  <li class="list-inline-item liststyle ">{{gen}}</li>
                </ng-container>
            </ul>
          </div>
       </div>
       <div class="row">
          <div class="col-12">
           <button class="btn btn-secondary">Description</button>
           <div class="card">
            <div class="card-text">
               <p>{{movie.description}}</p>
            </div>
           </div>
          </div>
       </div>
      </div>
   </div>
</div>


