h1{
  margin-top: 10%;
}
.card
{
  cursor:pointer
}
.detailimage>img
{
  width: 348px;
  height:400px
}
.detailname>p
{
  font-weight: bold;
  font-size: large;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: gray;
}
.liststyle
{
  font-weight: bold;
  font-size: large;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: gray;
}
.col-12
{
  margin-top:3%
}
.display
{
  display: inline;
}
